.gallery-main{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
  min-width: 500px;
  max-width: 1000px;
  flex: 1;
}

.gallery-subtitle{
  font-size: 30px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.gallery-today-pick-frame{
  min-width: 500px;
  height: 500px;
  background-color: white;
  border: solid lightgrey;
  border-width: 2px;
  border-style: inset;
  box-shadow: 5px 5px rgb(224, 224, 224);

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-today-pick-frame img{
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.gallery-today-pick-comment{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.gallery-today-pick-comment a{
  text-decoration: underline;
}

.gallery-today-pick-comment-tag-name:hover{
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.844);
  color: blanchedalmond;
  border: solid lightgrey;
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
}


.gallery-collection-name-tag{
  min-width: 500px;
  background-color: white;
  border: solid lightgrey;
  border-width: 2px;
  border-style: inset;
  box-shadow: 5px 5px rgb(224, 224, 224);

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-collection-tag{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.gallery-collection-tag-box{
  margin: 4px;
  padding: 5px;
  border: solid lightgrey;
  border-radius: 10px;
}

.gallery-collection-tag-box:hover{
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.844);
  color: blanchedalmond;
}