.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: solid 2px;
  border-bottom-color: lightgrey;
}

.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-bar-button{
  font-weight: 800px;
  font-size: 25px;
  font-weight: bold;

  padding-left: 30px;
  padding-right: 30px;
}