.preview{
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.preview-blog{
  border-bottom: solid;
  border-color: rgb(137, 137, 137);
  border-width: 3px;
  padding-bottom: 20px;
}

.preview-blog-header{
  margin-top: 10px;
  border-left: solid;
  border-left-width: 5px;
  border-left-color: rgb(137, 137, 137);
}

.blog-create-date{
  color: grey;
  font-size: 18px;
  padding-left: 30px;
}

.blog-title{
  font-size: 30px;
  padding-left: 30px;
  font-weight: 300;
}

.preview-blog-content{
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  height: 200px;
  overflow: hidden;
  line-height: 30px;
}

.preview-blog-readmore-button{
  position: absolute;
  right: 0;
  bottom: 0;

  width: 150px;
  height: 33px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(182, 182, 182));
  font-size: 18px;
  text-align: end;
}