.preview{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 5%;
  min-width: 500px;
  max-width: 1000px;
  flex: 1;
}

.sidebar-block{
  width: 200px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.preview-blog{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid;
  border-color: rgb(137, 137, 137);
  border-width: 3px;
}

.preview-blog-header{
  margin-top: 10px;
  border-left: solid;
  border-left-width: 5px;
  border-left-color: rgb(137, 137, 137);
}

.blog-create-date{
  color: grey;
  font-size: 18px;
  padding-left: 30px;
}

.blog-title{
  font-size: 30px;
  padding-left: 30px;
  font-weight: 300;
}

.preview-blog-content{
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  height: 200px;
  overflow: hidden;
  line-height: 30px;
  text-wrap: balance;
}

.preview-blog-readmore-button{
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  text-align: end;
  padding-top: 5px;
}

.preview-blog-readmore-button:hover{

  color: rgb(111, 111, 111);
  cursor: pointer;
  text-decoration: underline;
}

.preview-gallery{
  height: 600px;
}

.prevew-gallery-title{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.preview-gallery-content{
  margin: 20px;
  min-width: 400px;
  height: 500px;
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  box-shadow: 5px 5px rgb(239, 239, 239);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.preview-gallery-content img{
  position: relative;
  width: calc(100% / 3);
  padding: 5px;
  box-sizing: border-box;
}

.preview-gallery-collection{
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.preview-gallery-collection-tag{
  text-align: center;
  font-size: 20px;
  text-wrap: balance;
  word-spacing: 10px;
  line-height: 30px;
}

.preview-gallery-collection-tag a:hover{
  background-color: grey;
  color: whitesmoke;
  cursor: pointer;
  text-decoration: underline;
}