.sidebar{
  margin-top: 5%;
  position: fixed;
  width: 200px;
}

.sidebar-intro{
 width: 200px;
 height: 80px;
}

.sidebar-intro-letter{
  margin: 0;
  text-align: center;
}

.sidebar-contact{
  width: 200px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-contact-sns img{
  height: 50px;
  width: 50px;
}

.sidebar-contact-sns :hover{
  cursor: pointer;
}

