.sidebar-block{
  width: 200px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.sidebar{
  /*
  display: flex;
  flex-direction: column;
  */
  position: fixed;
  width: 200px;
}

.sidebar-intro{
 width: 200px;
 height: 80px;
}

.sidebar-intro-letter{
  margin: 0;
  text-align: center;
}

.sidebar-contact{
  width: 200px;
  height: 100px;
}

.sidebar-contact-sns{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-left: 50px;
}

.sidebar-contact-sns img{
  height: 30px;
  width: 30px;
}

